*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
/* Navbar section */
.navbar{
    box-shadow: 0 15px 40px -20px rgb(40 44 63 / 15%);
    position: fixed; /*to fix the nav bar with respect to the viewport */
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    background-color: #fff;
    z-index: 1000; /*used for stacking so that no element will overlap the nav bar*/
    padding: 0 20px; /*padding of 0 pixels spacing from top and bottom & 20 pixels spacing from left and right */
}
.navbar .nav{
    max-width: 1200px; /*to move the nav bar at the center*/
    min-width: 1200px; /*to move the nav bar at the center*/
    position: relative;  /*it will change its position relative to its parents*/
    margin: 0 auto; 
    height: 80px;
    display: flex; /*to make the items i.e. divs display in a single row/line using flexbox and also it can also be in column if you set flex-direction=column*/
    justify-content: space-between; /*used to align the items i.e the left and right div with respect to x-axis by giving spacing b/w them*/
}

/* Left nav section */

.nav .left{
    display: flex;
    align-items: center; /*to align the items at centre b/w top and bottom*/
}
.nav .left .logo{
    display: block; /*to make the logo as it were a block*/
    height: 49px;
    margin-right: 10px;
    transition: transform 0.3s cubic-bezier(0.075, 0.82, 0.165, 1); /*to make the swiggy symbol bigger when we hover the mouse over the symbol*/
}
.left .logo:hover{
    transform: scale(1.1);
}
.navbar .location-div{
    display: flex;
    position: relative;
    align-items: center;
    margin-left: 30px;
    height: 30px;
    cursor: pointer;
    margin-bottom: -1px;
    padding-right: 10px;
    font-size: 13px;
}
.location-div .other{
    font-weight: 700; /*to make the patel nagar bold*/
    color: #3d4152;
    float: left; /*this is just to maake the element to the left*/
    padding-bottom: 2px;
    /*padding-right: 6px;*/
    border-bottom: 2px solid #3d4152; /*to give underline to the address*/
}
.location-div .other:hover{
    color: #fc8019;
    border-bottom: 2px solid #fc8019;
}
.location-div .location{
    display: block; /*to make the whole address as it were a block*/
    font-weight: 300; /*to make the address look lighter*/
    padding-left: 5px; /*to provide spacing between the underlined address and non-underlined address*/
    margin-left: 5px;
    color: #686b78;
}
.location-div .arrow-down{
    position: absolute; /*With absolute positioning, an element can be placed anywhere on a page, not relative to anything*/
    top: 50%; /*will take space from above*/
    right: -6%;
    transform: translateY(-50%); /*to align the angle b/w top and bottom*/
    font-size: 15px;
    color: #fc8019;
    font-weight: 700;
}

.location-div .right{
    position: relative;
}
.right .items{
    display: flex;
    align-items: center;
}
.right .items li{
    list-style-type: none; /*to remove the list style*/
    margin-right: 22px;
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}
.items .nav-item{
    display: flex;
    align-items: center;
    padding-left: 28px;
    position: relative;
    height: 80px;
    cursor: pointer;
}
.items .nav-item a{
    display: flex;
    align-items: center;
    text-decoration: none; /* to remove the underline from the text*/
    color: #3d4152;
    font-size: 16px;
    font-weight: 500;
}
.items .nav-item a:hover{
    color: #fc8019;
}
.nav-item a span{
    padding-left: 11px;
}

/* content section */
.restaurants .container{
    max-width: 1200px;
    min-width: 1200px;
    position: relative;
    margin: 0 auto;
    padding-top: 42px;
    top: 80px;
    background: #fff;
    left: 0px;  /*original 31px*/
}
.container .item-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.item-bar .number{
    font-weight: 600;
    font-size: 24px;
    color: #3d4152;
    margin-top: -3px;
}
.item-bar::after{   /*to add a light grey bar after the item-bar*/
    color: #3d4152;
    position: absolute;
    content: ''; /*whatever content you want to add inside the after element*/
    left: 0;
    right: 1.5%; /*initial zero*/
    top: 81px;
    height: 1px;
    background: #e9e9eb;
}
.filtersandfilter{
    display: flex;
}
.item-bar .filters{
    display: flex;
    align-items: center;
}
.filters div{
    font-size: 15px;
    font-weight: 300;
    color: #3d4152;
    margin-left: 5px;
    margin-right: 25px;
    cursor: pointer;
}
.filter a{
    text-decoration:none;
    font-size: 15px;
    font-weight: 500;
    color: #686b78;
    margin-left: 5px;
    margin-right: 25px;
    cursor: pointer;
}
.filters div:hover{
    border-bottom: 2px solid #282c35;
}
.filter a:hover{
    color: #fc8019;
}

/* restaurant-list and items */
.restaurant-list{
    display: grid; /*grid is a 2d structure made up of rows and columns */
    grid-template-columns: repeat(4, 25%); /*to specify number of columns and width percentage*/
    justify-content: space-between;
    margin-bottom: 80px;
    padding-top: 15px; /*initial 39*/
    margin-top: 10px;
}
.restaurant-list .place-link{
    background: #fff;
    display: block; /*everything i.e every divs takes a new line*/
    text-decoration: none;
    color: inherit; /*inherit from the parent class*/
}
.restaurant-list .list-item{
    padding: 25px 25px 17px; /*top-left-bottom*/
    border: 1px solid #fff;
    contain: content;
}
.restaurant-list .list-item:hover{
    border-color: #d3d5df;
    box-shadow: 0 4px 7px 0 rgb(218 220 230/60%);
}
.item-content{
    width: 254px;
    position: relative;
}
.top-img{
    background: #eef0f5;
    width: 254px;
    height: 160px;
    position: relative;
}
.top-img img{
    opacity: 1; /*initial o.5 (0=opaque, 1=transparent)*/
}
.status{
    position: absolute;
    left: -8px;
    top: 0px;
    font-size: 13px;
    font-weight: 500;
    text-transform: uppercase;
    padding: 5px 9px 4px;
    max-width: 50%;
}
.status::before{
    position: absolute;
    border-width: 9px 0px 0px 9px;
    bottom: -9px;
    content: '';
    width: 0;
    height: 0;
    border-style: solid;
    border-color: inherit;
    left: 0;
}
.place-name-div{
    margin-top: 14px;
}
.place-name-div .name{
    font-size: 15px;
    font-weight: 500;
    word-break: break-word; /*word wrap kind of feature so that if the word is long it will not just use only a single line*/
}
.place-name-div .food-items{
    color: #686b78;
    font-size: 13px;
    margin-top: 2px;
}
.info-div{
    display: flex;
    align-items: center;
    margin-top: 18px;
    font-size: 12px;
    justify-content: space-between;
    color: #535665;
    font-weight: 300;
}
.info-div .rating{
    background-color: #48c479;
    color: #fff;
    height: 20px;
    width: 32px;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.info-div .rating2{
    background-color: #db7c38;;
    color: #fff;
    height: 20px;
    width: 32px;
    padding: 0 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
}
.icon-star{
    font-size: 9px;
    margin-right: 4px;
    position: relative;
    top: -1px;
}
.offer-div{
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    font-size: 14px;
    font-weight: 400;
    display: flex;
    align-items: center;
    color: #8a584b;
}
.icon-offer-filled{
    font-size: 16px;
    width: 20px;
    height: 16px;
    margin-right: 4px;
    margin-top: -7px;
}
.offer-div .offer-text{
    line-height: 1.2;
}
.quick-view{
    color: #686b78;
    font-size: 13px;
    visibility: hidden;
    border-top: 1px solid #e9e9eb;
    padding-top: 14px;
    margin-top: 14px;
    left: 20px;
    right: 20px;
    bottom: 14px;
    text-align: center;
    color: #5d8ed5;
    text-transform: uppercase;
    font-weight: 600;
}
.place:hover .quick-view{
    visibility: visible !important;
}

/* footer section */
.footer{
    padding: 0  20px; /*top-bottom=0px,  l-R=20px*/
    z-index: 10;
    background-color: #000;
    min-height: 298px;
    width: 100%;
    color: #fff;
}
.footer-content{
    display: flex;
    justify-content: space-around; /*from left and right= 1 unit space  and from between=2 unit space*/
    max-width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    padding: 76px 0;
}
.points{
    color: #808080;
    font-size: 15px;
    font-weight: 600;
    width: 300px;
    margin: 26px 0 10px 15px; /*top,right,bottom,left*/
}
.footer-li{
    padding: 20px 10px 2px 0px; /*top,right,bottom,left*/
}
.points ul{
    list-style: none;
    display: flex;
    flex-direction: column;
}
.footer-li a{
    text-decoration: none;
    color: #fff;
    font-size: 15px;
    font-weight: 300;
}
.points img{
    border: 2px solid #000;
    padding: 10px;
    margin: 0px 0px 10px 57px;
    border-radius: 10px;
}